.albumenes
{
	height: 60px;
	width: 368px;
	float: left;
	border-top:1px solid; 
	border-bottom: 1px solid;
}


.azulc
{
	color: #1391ED;
}

#per
{
	color: #32323d;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 25px;
}