.Principal
{
	margin-top: -28px;
	height: 369px;
	width: 1349px;
	background:#F8F8F9;
}

.titulo
{
	font-family:"Open Sans";
	font-style: normal; 
	font-weight: bold;
	font-size: 45px;
	float:left;
	margin-top: 65px;
	margin-left: 90px;
}

.azul
{
	color: #087FEB;
}

.subtitulo
{
    font-family: "Open Sans"; 
	font-style: normal; 
	font-weight: bold;
	font-size: 20px;
	float:left;
	margin-top: 150px;
	margin-left:-150px;
	color: #191929;
}

.btn-group
{
	position: absolute;
	margin-left: 90px;
	top: 42px;
}

#btn1
{
	border:none;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
	cursor: pointer;
}

#btn2
{
	border:none;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
	cursor: pointer;
}

#btn3
{
	border:none;
	cursor: pointer;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
}

#btn4
{
	border:none;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
	cursor: pointer;
}

#btn5
{
	border:none;
	cursor: pointer;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
}

#btn6
{
	border:none;
	cursor: pointer;
	background: #F8F8F9;
	width: 191.667px;
	height: 152px;
}

#img1
{
	height: 90px;	
}

#img2
{
	height: 90px;	
}

#img3
{
	height: 90px;	
}

#img4
{
	height: 90px;	
}

#img5
{
	height: 90px;	
}

#img6
{
	height: 60px;
}

.auto
{
	margin-top: 30px;
}

.contenido
{
	width:1349px;
    height:2205px; 
}

body
{
	text-align: justify;
}

.mac
{
	font-family: "Open Sans"; 
	font-style: normal; 
	color:#72727D;
}

.mac1
{
	font-family: "Open Sans"; 
	font-style: normal; 
	color:black;
}

.pmac
{
	width: 1190px;
	height:250px;
	margin-left: 90px;
}

.windows
{
	margin-top: 150px;
	width: 1190px;
	height:250px;
	margin-left: 90px;
}
#descarga
{
	width: 100px;
	height: 35px;
	background: #0B66CD;
}


.blanco
{
	font-family: "Open Sans"; 
	font-style: normal; 
	color: #F7FDFF;
}

.navegigator
{
	width: 1190px;
	height:250px;
	margin-left: 90px;
	margin-top: 150px;
}
.siguenos
{
	background: #42424D;
	width: 1349px;
	height:140px;
	margin-top: 150px;
}

.win8
{
	width: 1190px;
	height:250px;
	margin-left: 90px;
	margin-top: 150px;
}

.otrasopciones
{
	background: #23232D;
	width: 1349px;
	height:466px;
}