
/* index.php */
.col-lgj-2 {
   padding-top:15px; 
   width:220px;
   float: left;
   height: 100%;
   background-color: #23232c;
}
 
.col-lgj-10 {
	width:100%;
	height: 100%;
	
}

.svg-icon{
fill: #c2c2ca;
}

.boton{
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 800;
    background-color: #007feb;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 3px;
    padding: 6px 45px 6px 45px;
}

.boton:hover{
  background-color: #0b66cd;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#buscador{
	margin-top: 10px;
  background-color: #d1d1d7;
  padding: 8px 40px 8px 12px;
  font-size: 12px;
  height: 32px;
  width: 180px;
  margin-left: 19px;
  margin-bottom:  10px;
}

#fimage{
	margin-left: 49px;
}



.linea{
  background-color: #32323d;
    height: 1px;
    margin: 5px 12px;
}
   
.space{
  padding-bottom: 7px;
  padding-top: 7px;
} 


.icon2{
  margin-left: 40px;
  margin-right: 15px;
}



.svg-icon:hover{
  fill: white;
}

.nav li a .settings{
  float: right;
}

.nav, .nav a{
  color:#C2C2CA;
  text-decoration: none;
}

.nav > .active > a,
.nav > .active > a:hover,
.nav> .active > a:focus {
  border-left:solid 10px #007feb;
  padding-left: 20px;
  background-color:#15151e;
}

.nav > li .si:hover,
.nav > li .si:focus {
  background-color: #191922;
  color: white;
  font-size: 15px;
}

.hijo .flecha{
  float: right;
  margin-right: 30px;
  line-height: 32px;
  color: #c5c5cd;
}

.hijo li:focus,
.hijo li:hover{
  background-color: #efeff2;
  cursor:pointer;
  font-size: 15px;
}

.nav {
  margin-bottom: 20px;
  margin-left: -11px;
}

.iconn{
  margin-left: 190px;
  margin-top: -27px;
  position: fixed;
}

.nav hr{
  margin: 5px 0 5px 0;
  margin-left: 10%;
  width: 80%;
  border-top: 1px solid #474747;
}

.nav .hijo hr{
   border-top: 1.7px solid #e8e8ec;
  margin-left: 5px;
  margin-bottom: 10px;
}

.titulo{
  margin-top: 20px;
      color: #32323d;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.hijo .icono{
  display:inline;
  margin-left: 10px;
  line-height: 40px;
}

.hijo .icon{
  background-color: #007feb;
  border-radius: 32px;
  color:white; 
  line-height: 32px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 4px;
  text-align: center; 
  width: 32px;
}

   
.nav li .hijo a{
  height: 40px;
  margin-bottom: 5px;
  font-size: 14px;
  margin-bottom: 3px;
  text-decoration:none;
}

.nav > li > a {
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    margin-bottom: 7px;
    padding-top: 5px;
    cursor: pointer;
}

#cover{
  height: 140px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 5px;
  opacity: 0.5;
  background-image: url("../img/goku.jpg");
}

.nombresong{
  padding-top: 8px;
  margin-right: 30px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #fff;
}


#nombresong{
    font-family:"Open Sans", Arial, sans-serif;
    font-size:18px;
    font-weight:800;
    padding-left: 22px;
    padding-right: 30px;
    color: #fff;
    
    
}

.icon3{
  margin-right: 15px;
}

.nombreartista{
  font-family:"Open Sans", Arial, sans-serif;
  padding-left: 22px;
  margin-right: 30px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-size:14px;
  }

#nombreartista{
font-family:"Open Sans", Arial, sans-serif;
font-size:14px;
font-weight:normal;
padding-left: 6px;
color: #fff;

}





.col-lgj-2 ul li div{
  transition-duration:  0.7s;
  opacity: 0;
  position: absolute;
  visibility: hidden;
} 

.col-lgj-2 ul li:hover > div{
opacity: 1;
visibility: visible;
transition-duration:  0.7s;
  }

  .hijo{
    width: 368px;
    height: 701px; 
    background-color: #fff;
    position:fixed; 
    margin-left: 230px; 
    margin-top: -215px;
    
  }

.contenido{
  border: solid 1px #ccc;
  width:1146px;
  height: 701px;
}